* { 
margin: 0;
padding: 0;
box-sizing: border-box; }

body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.top-header { 
background-color: #f7ffef;
height: auto;
min-width: 100%; }

header {
min-width: 100vw; text-align: center;
background-color: #e8bcf0;
color: #0000b8;
font-size: 150%;
padding: 30px 30px 30px 150px; 
font-family: 'Brush Script MT', cursive; }
h1 { font-size: 300%; }

header nav { 
display: flex;
align-items: center;
justify-content: space-around; 
padding: 0 100px; }

.logo {
display: flex;
align-item: center;
justify-content: flex-start; }

.logo-img{
height: 60px;}

nav ul{
list-style-type: none; }

nav ul li{
display: inline-block;
margin: 0 15px; }

nav ul li a {
text-decoration: none;
color: #797878;
font-weight: 600;
font-size: 18px;
transition: 0.1s ease-in-out; }

nav ul li a: hover {
color: #000000; }

.btn {
background-color: #aeaed4;
padding: 10px 25px;
border-radius: 30px;
color: #000000;
transition: 0.4s ease-in-out;
text-decoration: none; }

.btn:hover {
background-color: #31a25e; }

.hero-section {
min-width: 100vw; }

.hero-box {
display: flex;
align-items: center;
justify-content: space-evenly;
padding: 40px 100px; }

.left-box {
margin-left: 40px;
padding: 50px 0; }

.started {
text-decoration: none;
color: #000000;
font-weight: 600;
font-size: 18px; }

.ready {
color: rgb(175,25,25);
margin-bottom: 8px;
font-weight: 550; }

.left-box h1{
font-size: 34px;
margin-bottom: 8px;
line-height: 44px; }

span {
color: #87ceeb; }

.left-para {
margin-bottom: 30px; }

.right-img {
width: 500px; }

.copyright {
height: 5px;
background-color: #6c88c4;
padding: 0 50px 50px 0; }

.end {
text-align: center;
color: wheat; }

.feature {
background-color: #d2f6fe;
height: 50vh;
padding: 0 100px;
display: flex;
align-items: center; 
justify-content: space-around; }

.boxes {
padding: 70px 70px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
border-radius: 6px;
transition: 0.3s ease-in-out; }

.boxes:hover {
box-shadow: 0px 5px 15px #ddc1bd;
cursor: pointer; }

.boxes h2 {
font-size: 18px;
color: #494848;
margin: 5px 0; }

.boxes p {
color: rgb(131,131,131); }

.al-shadow {
box-shadow: 0PX 5PX 15PX #ffffff; }

course-top {
padding: 0 0 100px 0; }

.online-title {
display: flex;
align-items: center;
justify-content: center;
margin: 50px;
color: #01b671; }

.online-courses {
background-color: #e8bcf0;
height: auto;
padding: 0 100px;
display: flex;
align-items: center;
justify-content: space-around; }

.online-courses img{
width: 250px;
border-radius: 8px;
margin-bottom: 15px; }

.online-box {
background-color: #eaeaea;
padding: 20px 20px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
border-radius: 8px;
box-shadow: 2px 2px 5px rgb(177, 177, 177), 2px 2px 5px rgb(177, 177, 177);
transition: 0.3s ease-in-out; }

.online-box:hover {
box-shadow: 0px 5px 15px #bdbdbd;
cursor: pointer; }

.online-box h2 {
font-size: 18px;
color: #494848;
margin: 5px 0; }

.onlin-box p {
color: #999999;
margin: 5px 0; }

.course-btn {
font-size: 14px;
color: #ffffff;
padding: 8px 20px;
margin: 7px 0; }

.botton-feature {
display: flex;
align-items: center;
justify-content: space-between;
margin: 35px 0 0 0; }

.left-date {
display: flex;
align-items: center;
position: relative;
right: 0px; }

.right-stu {
display: flex;
align-items: center;
position: relative;
left: 30px; }

.left-date p, .right-stu p {
font-size: 14px;
margin-left: 5px; }

.gallery {
border: 4px solid #000; }

.mem { 
text-decoration: none; }