* { 
margin: 0;
padding: 0;
box-sizing: border-box; }

body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.top-header { 
background-color: #f7ffef;
height: auto;
min-width: 100%; }

header {
max-width: auto; text-align: center;
background-color: #e8bcf0;
color: #0000b8;
font-size: 150%;
padding: 30px 30px 30px 150px; 
font-family: 'Brush Script MT', cursive; }
h1 { font-size: 300%; }

header nav { 
display: flex;
align-items: center;
justify-content: space-around; 
padding: 0 100px; }

.logo {
display: flex;
align-item: center;
justify-content: flex-start; }

.logo-img{
height: 60px;}

nav ul{
list-style-type: none; }

nav ul li{
display: inline-block;
margin: 0 15px; }

nav ul li a {
text-decoration: none;
color: #797878;
font-weight: 600;
font-size: 18px;
transition: 0.1s ease-in-out; }

nav ul li a: hover {
color: #000000; }

.btn {
background-color: #aeaed4;
padding: 10px 25px;
border-radius: 30px;
color: #000000;
transition: 0.4s ease-in-out;
text-decoration: none; }

.btn:hover {
background-color: #31a25e; }

.copyright {
height: 5px;
background-color: #6c88c4;
padding: 0 50px 50px 0; }

.end {
text-align: center;
color: wheat; }


.ok {
font-size: 62.5%;
max-width: auto;
 }

.container {
background: #222; }

.container .heading {
font-size: 2rem;
padding: 1rem 0;
text-align: center;
font-family: Verdana, Genevom, Tahoma, sens-serif;
text-shadow: 0 0.5rem 1rem #000;
color: #fff; }

.container .music-container {
display: flex;
align-items: center;
flex-flow: column; }

.container .music-container .box {
height: 10rem;
width: 80%;
display: flex;
align-items: center;
background: #f9f9f9;
border-radius: 1rems;
box-shadow: 0 0.5rem 1rem #000;
overflow: hidden; 
margin: 1rem; }

.container .music-container .box .image {
height: 100%;
width: 25%; }

.container .music-container .box .image img {
height: 100%;
width: 100%;
object-fit: cover; }

.container .music-container .box .music {
width: 75%; }

.container .music-container .box .music audio {
width: 100%;
outline: none; }

.container .music-container .box .music audio:: -webkit-media-controls-eclosure {
background: none; }

@media (max-width: 600px) {

.container .music-container .box{
height: 27rem;
width: 90%;
flex-flow: column; }

.container .music-container .box .image {
height: 80%;
width: 100%; }

.container .music-container .box .music {
height: 20%;
width: 100%; }

